html{
    background: white;
}
body{
    background: rgb(231, 231, 231);
    margin: 5ex;
    font-family: 'Times New Roman', Times, serif;
}
#blog-heading{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}