HTML{
    background: rgb(255, 255, 255);

}
body{
    background: rgb(229, 229, 229);
    font-family:Arial, Helvetica, sans-serif;
    padding:40px;
    border-top:10px solid #242424;
    margin:30px;

}
p{
    line-height:1.5em;
}
h1{
    font-size:3em;
    margin:0;
}
article{
    margin: 25px;
    border-top:4px double rgb(149, 149, 149);
    background-color: rgb(255, 255, 255);
}