html{
    background: white;
}
body{
    background: rgb(236, 236, 236);
    margin: 5ex;
    font-family: 'Times New Roman', Times, serif;
}
#blog-heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 60px;
    color: black;
}
.writen-article{
    color: rgb(66, 66, 66);
}
article{
    border-top:2px dotted rgba(0, 0, 0, 0.405);
    background: whitesmoke;
    margin: 35px;
}
h2{
    color: black;
    font-weight: bold;
}
p{
    margin: 10px;
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
table{
    text-align: center;
    border: 3.6px solid black;
}
th{
    text-align: center;
    border: 3.6px solid black;
}
td{
    text-align: center;
    border: 3.6px solid black;
}